@model Aiursoft.Developer.Models.AppsViewModels.AllAppsViewModel
@{
    ViewData["Title"] = "All Apps";
    Layout = "_AppLayout";
}
<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Apps" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <a asp-controller="Apps" asp-action="CreateApp" class="btn btn-success">Create App</a>
            </div>
        </div>
        @foreach (var app in Model.AllApps)
        {
            <div class="col-xl-3 col-sm-6 mb-3">
                <a class="card" asp-controller="Apps" asp-action="ViewApp" asp-route-id="@app.AppId">
                    <div class="text-center">
                        <img class="card-img-top rounded" src="@(app.AppIconAddress)?w=100&h=100" style="width:100px;height:100px;">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(t => app.AppName)</h4>
                        <p class="card-text">@Html.DisplayFor(t => app.AppDescription)</p>
                        <div class="bottom-project-section">
                            <div class="meta">
                                <div class="points">
                                    <i class="fa fa-tv"></i> @Html.DisplayFor(t => app.AppPlatform)
                                </div>
                                <div class="views">
                                    <i class="fa fa-university"></i> @Html.DisplayFor(t => app.AppCategory)
                                </div>
                                <span class="feedable-time timeago">@app.ToRegularTime()</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>