<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - @Values.ProjectName Developer Center</title>
    <environment names="Development">
        <link href="@Values.CdnServerAddress/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="@Values.CdnServerAddress/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="@Values.CdnServerAddress/css/AiurUI.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link href="@Values.CdnServerAddress/dist/AiurUI.min.css" rel="stylesheet" asp-append-version="true">
    </environment>
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-md hidden-sm" href="/">Aiursoft Developer Center</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">News</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <a asp-controller="Auth" asp-action="GoAuth">
                                <i class="fa fa-lock"></i>
                                Login
                            </a>
                        }
                        else
                        {
                            <a href="@Values.AccountServerAddress">
                                <i class="fa fa-user-o"></i>
                                Your Profile
                            </a>
                        }
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <a href="javascript:$('#logoutForm').submit()">
                                <i class="fa fa-unlock"></i>
                                Sign Out
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <form class="hidden" asp-controller="Home" asp-action="LogOff" method="post" id="logoutForm"></form>
        </div>
        @RenderBody()
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2017 - @Values.ProjectName |
                <a href="@(new AiurUrl(Values.ApiServerAddress, "Api", "SetLang", new { Host = $"{Context.Request.Scheme}://{Context.Request.Host}", Path = Context.Request.Path }))">Language</a>
            </p>
        </div>
    </footer>
    <environment names="Development">
        <script src="@Values.CdnServerAddress/node_modules/jquery/dist/jquery.min.js"></script>
        <script src="@Values.CdnServerAddress/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="@Values.CdnServerAddress/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="@Values.CdnServerAddress/node_modules/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="@Values.CdnServerAddress/js/AiurUI.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="@Values.CdnServerAddress/dist/AiurUI.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>